html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-navitems: #918ca4;
  --color-heroHeading: #ffffff;
  --color-white: #ffffff;
  --color-plainText: #000000;
  --color-brown: #a03a03;
  --color-blue: #0e1f4e;
  --color-textarea: #f5f8fa;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Nav Bar */

.nav {
  display: flex;
  /* width: 85%;
  margin: auto; */
  padding: 1rem 5rem;
  justify-content: space-between;
}

.nav .navbar {
  flex: 1;
}

.nav .navbar ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
  gap: 2rem;
}

.nav .navbar ul li {
  list-style-type: none;
}
.nav .navbar ul li a {
  text-decoration: none;
  color: var(--color-navitems);
  font-size: 2rem;
}

/* Hero */

.hero {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/Images/heroImage.jpg");
  color: var(--color-heroHeading);
}

.hero h1 {
  font-size: 6rem;
  text-align: center;
}

.hero button {
  width: 50%;
  font-size: 4rem;
  padding: 1rem;
  border: none;
  font-weight: 700;
  color: var(--color-brown);
  border-radius: 2rem;
  transition: all 0.3s;
}

.hero button:hover {
  background-color: var(--color-brown);
  color: #ffffff;
}

/* About */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.5rem;
  gap: 2rem;
}

.about__picture--align-center {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.about__picture img {
  width: 90%;
  height: auto;
}

.about__desc {
  /* border: 2px solid #333; */
  padding: 2rem;
}

.about__desc h3 {
  color: var(--color-brown);
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 0;
}

.about__desc p {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-plainText);
  padding-bottom: 1.5rem;
  margin-top: 0;
}

.about .contact-button {
  grid-column: 1 / -1;
  text-align: center;
}

.about .contact-button button {
  width: 50%;
  font-size: 4rem;
  padding: 1rem;
  border: none;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-brown);
  border-radius: 2rem;
  transition: all 0.3s;
}

.about .contact-button button:hover {
  background-color: var(--color-white);
  color: var(--color-brown);
}

/* Most Loved Products */

.media-element {
  display: flex;
  align-items: center;
  padding-right: 0;
  padding-left: 2rem;
  max-width: 600px;
}

.media-element__image img {
  width: 100px;
  height: auto;
  margin-right: 1.5rem;
}

.media-element__content {
  flex: 1;
}

.media-element__heading {
  margin: 0;
  font-size: 3rem; /* Font size for the heading */
  font-weight: bold;
  padding-bottom: 2rem;
}

.media-element__description {
  margin: 5px 0 0;
  font-size: 2.5rem; /* Font size for the description */
  color: var(--color-plainText);
  font-weight: 300;
}

/* Loved Products */
.loved-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
  padding: 2rem;
}

.loved-products .topRow {
  grid-column: 1 / -1;
  text-align: center;
}

.loved-products .topRow h3 {
  font-size: 5rem;
  color: var(--color-brown);
  font-weight: 500;
}

/* Need More */
.need-more {
  display: flex;
  justify-content: center;
}

.need-more .back-square {
  background: var(--color-blue);
  color: var(--color-heroHeading);
  width: 50rem;
  height: 15rem;
  text-align: center;
}

.need-more .back-square h3 {
  font-size: 3rem;
  font-weight: 500;
}

.need-more .back-square a {
  color: var(--color-brown);
  font-size: 2.5rem;
  font-weight: 400;
}

/* Make Us Different */
.differences {
  background: var(--color-blue);
  margin-top: 3rem;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
}

.differences h3 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--color-white);
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.feature__element {
  display: flex;
  width: 400px;
}

.feature__element img {
  width: 100px;
  height: auto;
  margin-right: 1rem;
}

.feature__element .feature__element__desc {
  font-size: 2rem;
  color: var(--color-white);
  text-align: left;
  font-weight: 200;
}

/* Partners */

.partners h3 {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-brown);
}

.ticker {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.ticker__wrap {
  display: inline-block;
  padding-left: 100%; /* Push initial position to the right */
  animation: ticker 25s linear infinite; /* Adjust duration as needed */
}

.ticker__item {
  display: inline-block;
  padding: 0 40px; /* Space between logos */
}

.ticker__image {
  height: 25rem;
  width: auto;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Contact + Testimonial */
.contact-testimonials {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3rem;
}

.contact-form,
.testimonial-container {
  flex: 1;
  padding: 20px;
}

.testimonial-container {
  background: var(--color-blue);
}

.contact-form h3 {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-brown);
  margin: 3rem;
}

.testimonial-container h3 {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-white);
  margin: 3rem;
}

.contact-form__form {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 3rem;
  color: var(--color-brown);
}

.form-group input,
.form-group textarea {
  width: 90%;
  height: 5rem;
  padding: 1rem;
  background-color: var(--color-textarea);
  border: 1px solid var(--color-navitems);
  border-radius: 1rem;
  box-sizing: border-box;
  font-size: 2.5rem;
}

.contact-form__form button {
  width: 50%;
  align-self: center;
  font-size: 4rem;
  padding: 1rem;
  border: none;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-brown);
  border-radius: 2rem;
  transition: all 0.3s;
}

.contact-form__form button:hover {
  background-color: var(--color-white);
  color: var(--color-brown);
}

.testimonial-container p {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-white);
  padding-bottom: 1.5rem;
  margin-top: 0;
  text-align: justify;
  line-height: 1.6;
}

/* Download */
.download {
  background: var(--color-blue);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
  width: 100%;
  padding-left: 3rem;
  gap: 2rem;
  align-items: center;
}

.download__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download__image img {
  max-width: 100%;
  height: auto;
}

.download__pitch {
  color: var(--color-white);
}

.download__pitch h3 {
  text-align: left;
  font-size: 4rem;
  font-weight: 500;
  color: var(--color-white);
}

.download__pitch p {
  text-align: left;
  font-size: 2.5rem;
  color: var(--color-white);
}

.download__btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.download__btn button {
  font-size: 4rem;
  padding: 1rem;
  border: none;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-brown);
  border-radius: 2rem;
  transition: all 0.3s;
}

.download__btn button:hover {
  background-color: var(--color-white);
  color: var(--color-brown);
}
